# Ignore emacs backups & auto save files
*~
\#*\#
.\#*

# Scratch & temporary directories
scratch/
tmp/*

# OSX noise
.DS_Store

# Ignore the binary & distribution
/warranted
/distribution/

# Ignore Racket compiled files
compiled/

# Ignore test flag
/.TESTF
